ul {
    list-style: none;
}
.header {
    width: auto;
    height: 5rem;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid rgb(128, 128, 128);
    background-color: #BBB5DB;
    padding-left: 20rem;
}

.logo {
    width: 3.3rem;
    height: 3.3rem;

}

.mynav {
    background-color: black;
    justify-content: flex-end;
    margin-bottom: 2rem;
    padding-left: 14rem;
}
.sticky-top-1 {
    position: sticky;
    top: 0px;
    z-index: 100;
}
.sticky-top-2 {
    position: sticky;
    top: 100px;
}
.myfooter {
    padding-top : 4rem;
}